/*body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: purple;
	background-size: cover;
}
.reg-box {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	margin: 20;
	width: 500px;
	padding: 40px;
	background: rgba(0,0,0,.6);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
}
.reg-box h1 {
	margin-bottom: 12px;
	padding: 0;
	color: #28FF1A;
	text-align: center;
}
.reg-box h2 {
	margin-bottom: 12px;
	padding: 0;
	color: #28FF1A;
	text-align: center;
}
.reg-box .textbox {
	position: relative;
}
.reg-box .textbox input {
	width: 100%;
	padding: 6px 0;
	font-size: 10px;
	color: white;
	margin-bottom: 12px;
	border: none;
	border-bottom: 1px solid #28FF1A;
	outline: none;
	background: transparent; 
}
.reg-box .textbox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 6px 0;
	font-size: 10px;
	color: white;
	pointer-events: none;
	transition: .7s;
}
.reg-box .textbox input:focus ~ label,
.reg-box .textbox input:valid ~ label {
	top: -10px;
	left: 0;
	color: red;
	font-size: 10px; 
}
.btn {
	width: 100%;
	background: none;
	border: 2px solid #28FF1A;
	color: white;
	padding: 5px;
	font-size: 12px;
	cursor: pointer;
	margin: 12px 0;
}*/